streamlit

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langsmith

pymilvus

pydantic
pydantic-settings

fastapi
uvicorn

sentence-transformers
numpy

python-dotenv
